    body {
      font-family:  'Times New Roman', Times, serif;
      margin: 0;
      padding: 0;
      background: url('photo.jpeg')no-repeat;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    header {
      text-align: center;
      padding: 40px ;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      animation: fadeIn 2s ease-in-out;
    }

    header h1 {
      font-size: 3em;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    header p {
      font-size: 1.2em;
      margin-top: 10px;
    }
    .profile{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .container {
      width: 80%;
      margin: 30px auto;
    }

    .section {
      background: rgba(255, 255, 255, 0.886);
      padding: 50px;
      border-radius: 100px;
      box-shadow: 0 4px 10px rgba(0,0,0,30%);
      margin-bottom: 40px;
      animation: slideUp 1s ease-in-out;
    }

    h2 {
      color: #2ebf91;
      border-left: 5px solid #8360c3;
      padding-left: 10px;
      margin-bottom: 15px;
    }

    .skills {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    .skill {
      background: #f4f4f4;
      padding: 15px;
      border-radius: 8px;
      width: 30%;
      text-align: center;
      transition: 0.3s ease;
      
    }

    .skill:hover {
      background: #8360c3;
      color: white;
      transform: scale(1.05);
    }

    .btn {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 15px;
      background: #8360c3;
      color: white;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      transition: 0.3s ease;
    }

    .btn:hover {
      background: #2ebf91;
      transform: translateY(-3px);
    }
    .links a{
        color: #6e50a4;
    }
    .links a:hover {
      color: #2ebf91;
      text-decoration: underline;
    }
    .links img {
      width: 30px;
      height: 30px;
    }


    footer {
      text-align: center;
      padding: 15px;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      margin-top: 20px;
    }

    @media screen and (min-width:400px) and (max-width: 1000px) {
      /*.skill {
        width: 100%;
        font-size:20px;
      }*/
      #container{
        background-color: #f4f4f4;
        width: 100wh;
        height: 100vh;
        display:grid ;
      }
    }

    /* --- Animations --- */
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes slideUp {
      from {
        transform: translateY(30px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  